@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.player-win-label {
    -fx-background-color: #f0f4ff;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-padding: 10 20;
    -fx-text-fill: #2a3d66;
    -fx-font-size: 75px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.2, 2, 2);
}

.my-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8;
}

.tile {
    -fx-border-color: #1191d0;
    -fx-border-style: dashed;
    -fx-border-dash-array: 200 100; //doesntwork
    -fx-background-color:  #b9e1f8
}

.hover-indicator {
    -fx-border-color: #ffffff;
    -fx-border-width: 5px;
    -fx-border-style: solid;
}

.pool-tile {
    -fx-border-color: rgba(4, 1, 1, 0.65);
    -fx-border-dash-array: 200 100; //doesntwork
-fx-background-color:  #cfd0d1
}

.player-turn-label {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-padding: 10 20;
    -fx-text-fill: #2a3d66;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.2, 2, 2);
}

/* Basic stylish button */
.options-button {
    -fx-background-color:  #436294;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 2);
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-transition: all 0.3s ease-in-out;
}

/* Hover effect */
.options-button:hover {
    -fx-background-color: linear-gradient(to bottom, #5a83c7, #436294);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 3);
}

/* Pressed effect */
.options-button:pressed {
    -fx-background-color: #008ecc;
    -fx-translate-y: 1;
}

.play-game-button {
    -fx-background-color:  #436294;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-padding: 10 20;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 2);
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-transition: all 0.3s ease-in-out;
    -fx-font-family: 'Luckiest Guy';
}

/* Hover effect */
.play-game-button:hover {
    -fx-background-color: linear-gradient(to bottom, #5a83c7, #436294);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 3);
}

/* Pressed effect */
.play-game-button:pressed {
    -fx-background-color: #008ecc;
    -fx-translate-y: 1;
}

.border-pane-background {
    -fx-background-color: white;
}